## Estructuras de Datos

LISTAS: son todas aquellas que se usan en corchetes puede contener cualquier tipo de dato y ejecutarse ejemplos:

In [2]:
colores=["rojo", "amarillo", "azul"]
numeros=[22,23,24,25]
listas_vacias=[]

print(colores)
print(numeros)
print(listas_vacias)

['rojo', 'amarillo', 'azul']
[22, 23, 24, 25]
[]

In [4]:
print(type(colores))
print(type(numeros))
print(type(listas_vacias))

<class 'list'>
<class 'list'>
<class 'list'>

In [5]:
mi_lista=["rojo", "amarillo", "azul","morado"]
print(mi_lista[2])

azul

In [6]:
print(mi_lista[0:2])

['rojo', 'amarillo']

In [7]:
print(mi_lista[:2])

['rojo', 'amarillo']

In [8]:
print(mi_lista[0:])

['rojo', 'amarillo', 'azul', 'morado']

In [9]:
mi_lista.append("blanco") #funcion agregar elemento al final y nuevo
mi_lista.insert(3,"negro")# funcion para ubicar el nuevo elemento

print(mi_lista)

['rojo', 'amarillo', 'azul', 'negro', 'morado', 'blanco']

In [12]:
mi_lista.extend(["rosa", "marron"]) #funcion concatenado
print(mi_lista)

['rojo', 'amarillo', 'azul', 'negro', 'morado', 'blanco', 'rosa', 'marron', 'rosa', 'marron', 'rosa', 'marron']

In [13]:
mi_lista.index ("morado") #validar en que posicion esta el elemento

4

In [16]:
mi_lista.remove("azul")
print(mi_lista)

['rojo', 'amarillo', 'negro', 'morado', 'blanco', 'rosa', 'marron', 'rosa', 'marron', 'rosa', 'marron']

In [17]:
lista= [22,23,24,25] 
print (lista*4)

[22, 23, 24, 25, 22, 23, 24, 25, 22, 23, 24, 25, 22, 23, 24, 25]

In [18]:
print(lista)

[22, 23, 24, 25]

In [19]:
lista_multiplicada=lista*4
print(lista_multiplicada)

[22, 23, 24, 25, 22, 23, 24, 25, 22, 23, 24, 25, 22, 23, 24, 25]

In [25]:
lista=[8,2,6,5,3,9]
lista.sort()
print(lista)

[2, 3, 5, 6, 8, 9]

In [26]:
mi_lista=["rojo", "amarillo", "azul","morado"]
mi_lista.sort()
print(mi_lista)

['amarillo', 'azul', 'morado', 'rojo']

TUPLAS

In [30]:
mi_tupla=(2,4,6,8,10)
print(type(mi_tupla))

<class 'tuple'>

In [31]:
tuplas_dias=('lunes','martes','miercoles','jueves', 'viernes', 'sabado','domingo')

In [32]:
print(tuplas_dias[2])

miercoles

In [33]:
'jueves' in tuplas_dias

True

In [34]:
tuplas_dias.count ('sabado')

1

In [36]:
x=11
y=22
z='Henry'
mi_tupla= x,y,z

In [39]:
print (mi_tupla)

(11, 22, 'Henry')

In [41]:
date=(9,'septiembre',1996)
print(date)

(9, 'septiembre', 1996)

In [42]:
uno,dos,tres=date

In [43]:
print(uno)
print (dos)

9
septiembre

DICCIONARIOS

In [47]:
primer_diccionario=dict()

In [48]:
primer_diccionario

{}

In [50]:
primer_diccionario['primero']='uno'
print(primer_diccionario)

{'primero': 'uno'}

In [51]:
primer_diccionario['segundo']='dos'
primer_diccionario['tercero']='tres'
print(primer_diccionario)

{'primero': 'uno', 'segundo': 'dos', 'tercero': 'tres'}

In [52]:
mi_diccionario = {  'Colores Primarios': ['Rojo','Azul','Amarillo'], 
                    'Colores secundarios': ['Naranja','Violeta','Verde'], 
                    'Clave3': 10,
                    'Clave4': False}

In [54]:
print(mi_diccionario)

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'], 'Colores secundarios': ['Naranja', 'Violeta', 'Verde'], 'Clave3': 10, 'Clave4': False}

In [62]:
del mi_diccionario['Clave3']

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [63]:
lista_ciudades=['Bogota', 'Caracas','Buenos Aires', 'Quito','Lima','Monte Video']
print(lista_ciudades)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Lima', 'Monte Video']

2) Imprimir por pantalla el segundo elemento de la lista

In [66]:
print(lista_ciudades[1])

Caracas

3) Imprimir por pantalla del segundo al cuarto elemento

In [68]:
print(lista_ciudades[1:4])

['Caracas', 'Buenos Aires', 'Quito']

4) Visualizar el tipo de dato de la lista

In [69]:
print(type(lista_ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [70]:
print(lista_ciudades[2:])

['Buenos Aires', 'Quito', 'Lima', 'Monte Video']

6) Visualizar los primeros 4 elementos de la lista

In [71]:
print(lista_ciudades[:4])

['Bogota', 'Caracas', 'Buenos Aires', 'Quito']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [72]:
lista_ciudades.append('Santiado de Chile')

In [73]:
print(lista_ciudades)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Lima', 'Monte Video', 'Santiado de Chile']

In [74]:
lista_ciudades.append('Bogota')

In [75]:
print(lista_ciudades)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Lima', 'Monte Video', 'Santiado de Chile', 'Bogota']

8) Agregar otra ciudad, pero en la cuarta posición

In [76]:
lista_ciudades.insert(4,'Asuncion')

In [77]:
print(lista_ciudades)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Bogota']

9) Concatenar otra lista a la ya creada

In [78]:
lista_ciudades.extend(['Santa Cruz de la sierra','Managua','Ciudad de Guatemala'])
print(lista_ciudades)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Bogota', 'Santa Cruz de la sierra', 'Managua', 'Ciudad de Guatemala']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [79]:
for i in range (len(lista_ciudades)):
    ciudades= lista_ciudades[i]
    if lista_ciudades.count(ciudades)> 1:
        break

In [80]:
print(ciudades)

Bogota

Con esta funcion se buscaria la ciudad que se encuentra duplicada y efectivamente es bogota

11) ¿Qué pasa si se busca un elemento que no existe?

In [81]:
mi_lista = [1, 2, 3, 4, 5]

elemento = 6  # Elemento que no está en la lista

encontrado = False
for indice, valor in enumerate(mi_lista):
    if valor == elemento:
        print(f"El elemento {elemento} se encuentra en el índice {indice}.")
        encontrado = True
        break

if not encontrado:
    print(f"El elemento {elemento} no está en la lista.")

El elemento 6 no está en la lista.

 si buscas un elemento que no existe en una lista en Python, se generará una excepción ValueError si estás utilizando el método index(), o puedes verificar manualmente si el elemento está en la lista utilizando un bucle for.

12) Eliminar un elemento de la lista

In [82]:
del lista_ciudades[8]
print(lista_ciudades)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Santa Cruz de la sierra', 'Managua', 'Ciudad de Guatemala']

In [84]:
for i in range (len(lista_ciudades)):
    ciudades= lista_ciudades[i]
    if lista_ciudades.count(ciudades)> 1:
        break
    
    print(ciudades)

Bogota
Caracas
Buenos Aires
Quito
Asuncion
Lima
Monte Video
Santiado de Chile
Santa Cruz de la sierra
Managua
Ciudad de Guatemala

13) ¿Qué pasa si el elemento a eliminar no existe?

a declaración del para eliminar un elemento que no existe en la lista (por su índice), no se generará una excepción, pero se producirá un error de índice si el índice está fuera de los límites de la lista.

el método remove() para eliminar un elemento que no existe en la lista, se generará una excepción llamada ValueError. Esta excepción indicará que el elemento que estás tratando de eliminar no se encuentra en la lista.

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [85]:
lista_ciudades.pop()

print(lista_ciudades)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Santa Cruz de la sierra', 'Managua']

15) Mostrar la lista multiplicada por 4

In [86]:
print(lista_ciudades*4)

['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Santa Cruz de la sierra', 'Managua', 'Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Santa Cruz de la sierra', 'Managua', 'Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Santa Cruz de la sierra', 'Managua', 'Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Santa Cruz de la sierra', 'Managua']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [87]:
tupla_numeros= tuple(range(1,21))
print(tupla_numeros)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [88]:
for i in range(10,16):
    print(tupla_numeros[i])

11
12
13
14
15
16

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [90]:
numero_1 =20 
numero_2 =30

if numero_1 in tupla_numeros:
    print(f"{numero_1} está en la tupla.")
else:
    print(f"{numero_1} NO está en la tupla.")

if numero_2 in tupla_numeros:
    
    print(f"{numero_2} está en la tupla.")
else:
    print(f"{numero_2} NO está en la tupla.")

20 está en la tupla.
30 NO está en la tupla.

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [91]:
'Paris' in tupla_numeros

False

In [92]:
elemento = 'Paris'

informe = ""

if elemento in lista_ciudades:
    informe = f"'{elemento}' ya existe en la lista."
else:
    lista_ciudades.append(elemento)
    informe = f"'{elemento}' no existía en la lista y fue agregado."

# Imprimir el informe
print(informe)

# Imprimir la lista actual
print("Lista de ciudades actual:", lista_ciudades)

'Paris' no existía en la lista y fue agregado.
Lista de ciudades actual: ['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Asuncion', 'Lima', 'Monte Video', 'Santiado de Chile', 'Santa Cruz de la sierra', 'Managua', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [97]:
tupla_numerosciudades= (1,2,3,4,5,6,7,8,9,10)

elemento_especifico = 3

In [99]:


cantidad_en_tupla = tupla_numerosciudades.count(elemento_especifico)

# Contar la cantidad de veces que aparece el elemento en la lista
cantidad_en_lista = lista_ciudades.count(elemento_especifico)

# Imprimir los resultados
print(f"El elemento {elemento_especifico} aparece {cantidad_en_tupla} veces en la tupla.")
print(f"El elemento {elemento_especifico} aparece {cantidad_en_lista} veces en la lista.")

El elemento 3 aparece 1 veces en la tupla.
El elemento 3 aparece 0 veces en la lista.

21) Convertir la tupla en una lista

In [100]:

tupla_numeros = (1, 2, 3, 4, 5)


lista_numeros = list(tupla_numeros)


print("Lista resultante:", lista_numeros)

Lista resultante: [1, 2, 3, 4, 5]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [101]:

var1, var2, var3, *resto = tupla_numeros

# Imprimir las variables desempaquetadas
print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)

Variable 1: 1
Variable 2: 2
Variable 3: 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [108]:
mi_dicionar = { "Bogota": 'Colombia', 'Caracas': 'Venezuela', 'Buenos Aires': 'Argentina', 'Quito' : 'Ecuador', 'Lima': 'Peru' }

24) Imprimir las claves del diccionario

In [110]:
claves = list(mi_dicionar.keys())
print('Claves del diccionario', claves)

Claves del diccionario ['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Lima']

25) Imprimir las ciudades a través de su clave

In [113]:
ciudades = list(mi_dicionar)
print('Ciudades', ciudades)

Ciudades ['Bogota', 'Caracas', 'Buenos Aires', 'Quito', 'Lima']

In [115]:
Paises = list(mi_dicionar.values())
print('Ciudades', Paises)

Ciudades ['Colombia', 'Venezuela', 'Argentina', 'Ecuador', 'Peru']