CONVERSION DE DATOS 

Funcion 
(int) convierte a enteros y para los string unicamente aplica si tiene algun numero entre las comillas 


(type) tipo de numero

In [4]:
num = 9.3
print(type(num))

<class 'float'>

In [5]:
int(num)  #comvertimos en entero

9

In [9]:
num= ("8")
type(num)

str

In [10]:
int(num)

8

In [11]:
type(num)

str

In [14]:
num=int (num)
print(num)
type(num)

8

int

In [15]:
num="8.5"
print(type(num))

<class 'str'>

In [17]:
num3=float(num) #convertimos a flotantes y guardamos en una variable nueva

In [19]:
print(type(num)) #tipo de variable string
print(type(num3)) #tipo de variable float

<class 'str'>
<class 'float'>

In [21]:
x=10 # declaramos un entero como varibale
print(type(x)) # se comprueba que tipo de dato es x
y=str(x) # convertimos a string la variable x, que es un entero
print(type(y)) # se imprime el tipo de dato de Y

<class 'int'>
<class 'str'>

In [23]:
w= 2.2 # declaramos tipo float
print(type(w))#comprobamos el tipo de dato.
z= str(w) # convertimos en string 
print(type(z))# imprimimos el tipo de dato de la variable z

<class 'float'>
<class 'str'>

NUMERO BINARIOS> 
En un número binario, cada posición de un bit tiene un valor que es una potencia de 2. La posición más a la derecha representa 2 elevado a la potencia 0, la siguiente posición a la izquierda representa 2 elevado a la potencia 1, la siguiente 2 elevado a la potencia 2, y así sucesivamente.

In [1]:
2^3 
2^2
2^1
2^0

2

Para convertir un número binario a su equivalente decimal, se multiplican los dígitos binarios por sus respectivas potencias de 2 y se suman los resultados. En el ejemplo anterior, el número binario 1101 se convierte a decimal de la siguiente manera:

In [2]:
2**3

8

In [3]:
1<<2

4

<< ES LA OPERACION QUE DESPLAZA MLOS BITS DE UN NUMERO HACIA LA IZQUEIRDA DE UNA CANTIDAD ESPECIFICA DE POSICIONES Y SE RELLENA CON CEROS

EL 1 SE REPRESENTA EN BITS COMO 0001 
SI SE APLICA LA OPERACION DE 1<<2 SU RESULTADO SERIA 0100 DANDO COMO RESULTADO 4

In [4]:
1<<2

4

In [5]:
1<<3

8

In [6]:
0<<4

0

In [7]:
1<<6

64