TIPOS DE OPERACIONES

In [21]:
8+8

16

In [2]:
a= 8
b= 3.5 
a+b

11.5

In [3]:
m=50
60+ m

110

In [4]:
20*4

80

In [5]:
num1 = 6
num2 = 3 
num1*num2

18

In [6]:
5**2

25

In [8]:
c = 2 # dos varibales se pueden potenciar
d = 3
d**c

9

In [9]:
numero = 3 #3 es la base y 2 el exponente
numero **2

9

In [10]:
10/3 # Division cociente cuando se usa solo un /
     # y me va a regresar un float

3.3333333333333335

In [11]:
10//3  # si uso doble // me regresa un numero entero
       # si se divide en 0 nos generaria error

3

In [12]:
7 % 2  # 7 / 2 = 3 y el resto es igual a 1

1

In [13]:
# el % nos ayuda a identicar con 0 los numeros pares

print (6%2)
print(12%2)
print(448%2)

0
0
0

In [14]:
# el % tambien nos ayuda a identificar con 1 los numeros impares

print(9%2)
print(15%2)
print(327%2)

1
1
1

OPERACIONES RELACIONALES : 
IGUAL ==
DISTINTO != 
MAYOR >
MENOR <
MAYOR IGUAL > =
MENOR IGUAL <=

In [16]:
'MANO'=='MANO'

True

In [17]:
15 == 16

False

In [18]:
a=2
b=2
a == b

True

In [19]:
4 == 2+2

True

In [20]:
4 == '4'

False

In [21]:
print(type(4)) # porque es un entero
print(type('4')) # porque todo que este en comillas es string

<class 'int'>
<class 'str'>

In [24]:
9 != 4+5 # el != indica si es distiendo al otro o igual

False

In [25]:
4 != "4"  # el != indica si es distito o igual al otro

True

In [26]:
12>3 # mayor que y da una respuesta booleana 
     # true or false

True

In [27]:
num1 = 12 
num2 = 16

In [28]:
num1>num2

False

In [29]:
num1<num2

True

OPERACIONES DE ASGINACIÃ“N =  
Se utilizar para asignar valores a las variables
=  ejemplo x=7 el = es un signo de asignacion
+= ejemplo X+=2
-=
*=
/=
//=
%=
**=

In [30]:
x = 10

In [31]:
  # += Permite modificar el valor de la variable al momento de ejecutar la operacion
  # es lo mismo que decir que X= 10 + 5
x += 5

In [32]:
print(x)

15

In [33]:
x *= 2

In [34]:
print (x)

30

In [35]:
x /=3 # da un resultado tipo float (con decimales)

In [36]:
print (x)

10.0

In [50]:
x = 10

In [51]:
x%=3

In [52]:
print(x)

1

In [53]:
x=10

In [55]:
x**2

100

OPERAR CON STRINGS 
 Genera concatenacion o multiplica 

 + ( concatenar)  Ejmplo 'hola''+'henrry'
 * (multiplicar)

In [59]:
"hola"+" "+"Henry"

'hola Henry'

In [60]:
"Hola "*3

'Hola Hola Hola '

OPERACION LOGICA con AND

A  B   A and B
1  0     0    False 
0  0     0    False
0  1     0    False
1  1     1    True

In [62]:
print(True and True) #True
print (True and False) # False
print (False and True) # False
print (False and False) # False

True
False
False
False


OPERACION LÃ“GICA con OR 
Si una de las variables es true nos devuelve con true

A  B   A or B
1  0     1     
0  0     0    
0  1     1    
1  1     1

In [63]:
print(True or True) #True
print (True or False) # True
print (False or True) # True
print (False or False) # False

True
True
True
False

OPERACION LÃ“GICA con NOT
Invierte los valores 
es decir true por false y false por true

In [64]:
print(not True) #Falso
print(not False) # Verdadero

False
True

EXCLUSIVA OR

Se debe cumplir solo una condicion para que sea true puede ser macho o hembra pero no ambos al mismo tiempo

A   B   A or exlusiva B 
1   0    1 
0   0    0
0   1    1
1   1    0

In [4]:
a=bool(1)
b=bool(0)

In [5]:
print(a^b)

True

In [6]:
a=bool(0)
b=bool(0)

In [7]:
print(a^b)

False

In [8]:
a=bool(0) #false
b=bool(1) #true
print(a^b)

True

In [9]:
a=bool(1) #true
b=bool(1) #true
print(a^b)

False

 CONVIERTE TODO EN MAYUSCULA
 
 La funciones 'upper()': Convierte todos los caracteres de la cadena a mayÃºsculas

In [10]:
cadena= "hola, mundo!"
cadena_mayusculas= cadena.upper()
print(cadena_mayusculas)

HOLA, MUNDO!

CONVIERTE TODO EN MINUSCULA 
 'lower()': Convierte todos los caracteres de la cadena a minÃºsculas

In [11]:
cadena= "HOLA, MUNDO!"
cadena_maninusculas= cadena.lower()
print(cadena_maninusculas)

hola, mundo!

 CONVIERTENES EL PRIMERO EN MAYUSCULA 
 
 'capitalize()': Convierte el primer carÃ¡cter de la cadena a mayÃºscula y el resto a minÃºsculas

In [12]:
cadena= "hola, mundo!"
cadena_capitalizada= cadena.capitalize()
print(cadena_capitalizada)

Hola, mundo!

ELIMINA ESPACIOS BLANCOS

'strip()': Elimina los espacios en blanco al inicio y al final de la cadena

In [13]:
cadena= "hola, mundo!"
cadena_sin_espacios= cadena.strip()
print(cadena_sin_espacios)

hola, mundo!

 DIVIDE EN LISTA DE SUBCADENAS

 'split()': Divide la cadena en una lista de subcadenas utilizando un separador

In [14]:
cadena= "hola,amigo,como,estas?"
subcadenas = cadena.split(",")
print(subcadenas)

['hola', 'amigo', 'como', 'estas?']

REMPLAZA EN UNA SUBCADENA

'replace()': Reemplaza todas las ocurrencias de una subcadena por otra

In [15]:
cadena= "hola,mundo!"
cadena_reemplazada = cadena.replace("mundo","amigo")
print(cadena_reemplazada)

hola,amigo!

 COMO COMIENZA UNA SUBCADENA
 
 'startswith()': Verifica si la cadena comienza con una subcadena especÃ­fica

In [16]:
cadena= "hola,mundo!"
cadena_con_hola = cadena.startswith("hola")
print(cadena_con_hola)

True

COMO TERMINA UNA SUBCADENA ESPECIFICA

'endswith()': Verifica si la cadena termina con una subcadena especÃ­fica

In [17]:
cadena= "hola, mundo!"
termina_con_exclamacion = cadena. endswith("!")
print(termina_con_exclamacion)

True


'find()': Busca la primera ocurrencia de una subcadena en la cadena y devuelve su Ã­ndice

In [18]:
cadena= "Hola, mundo!"
indice = cadena.find("mundo")
print(indice)

6

 CUENTA CUANTAS PALABRAS HAY (ocurrencia)
 
 'count()': Devuelve el nÃºmero de ocurrencias de una subcadena en el string

In [19]:
cadena= "Hola, hola, hola, hola, hola"
ocurrencias = cadena.count("hola")
print(ocurrencias)

4

In [20]:
cadena= "Hola, hola, hola, hola, hola, mundo"
ocurrencias = cadena.count("mundo")
print(ocurrencias)

1