crear una variable

In [1]:
a = 12
print(a)

12

Imprimir el tipo de dato

In [2]:
type(8.5)

float

In [3]:
type(a)

int

In [19]:
variable = "123456"
print(variable)
type(variable)

123456

str

In [7]:
numeroComplejo = 5 + 5j

In [8]:
type(numeroComplejo)

complex

In [9]:
pi = 3.1416

In [23]:
var1 = "True"
var2 = True
var3 = var1 == var2
print(var3)

False

In [24]:
a = 5.2 + 4
print(a)

9.2

In [28]:
a = 3 + 1j
b = 1 + 3j
c = a + b
print(c)

(4+4j)

In [32]:
d = a + 1.61
print(d)

(4.61+1j)

In [33]:
print(3*2)

6

In [34]:
print(2**8)

256

In [35]:
print(27/4)

6.75

In [36]:
print(27//4)

6

In [42]:
print(16%4)

0

In [49]:
print(6*2+(3*2)+3)

21

In [65]:
var1 = "Bogota "
var2 = "Cucuta"
print(var1+var2)

Bogota Cucuta

In [67]:
a = "20"
b = int(a)
c = 20
print(c == a)

False

In [71]:
a = float(3.8)
print(type(a))

<class 'float'>

In [73]:
a = -3
a -= 1
print(a)

-4

In [76]:
2 + int("2")

4

In [80]:
float(2) + float("2")

4.0

In [82]:
str(2)

'2'

In [91]:
var1 = "la concha de la lora "
var2 = 3
var3 = var1*var2 + str(var2) + " veces"
print(var3)

la concha de la lora la concha de la lora la concha de la lora 3 veces